body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

header {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    color: #333;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#github-picture {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

#contact {
    margin-bottom: 20px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

#github-picture {
    width: 200px; /* Adjust the width as needed */
    border-radius: 50%; /* Make it circular */
    margin-right: 20px; /* Add some space to the right of the picture */
